/*--------------------------------------------------
 ALWAYS USE
--------------------------------------------------*/

* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background: radial-gradient(circle, white, grey, black);
}


/*--------------------------------------------------
CONTAINER
--------------------------------------------------*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    opacity: .4;
}


/*--------------------------------------------------
CLOCK DISPLAY
--------------------------------------------------*/

.time_value {
    font-size: 125px;
    color: white;
    font-family: 'Special Elite', cursive;
    text-shadow: 3px 3px black;
}


/*--------------------------------------------------
PROGRESS BAR
--------------------------------------------------*/

.progress_bar {
    border: 2px solid black;
    max-width: 100%;
    height: 15px;
    transition: 1s linear;
    margin-top: 12px;
}